@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

body {
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.block {
    width: 30vw;
    height: 30vw;
    background-color: #000;
    color: #fff;
    padding: 1rem;
}

.left {
    float: left;
    margin-right: 1rem;
}

.right {
    float: right;
    margin-left: 1rem;
}

.clear {
    clear: both;
}

section {
    background-color: bisque;
    border: 1px solid #333;
    padding: 1rem;
    display: flow-root;
}