@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

body {
    padding: 5% 10%;
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

ol {
    list-style-type: none;
    padding: 0;
}
ul {
    list-style-type: square;
}