@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    list-style: lower-alpha;
}

body {
    font-family: "Nunito", sans-serif;
    padding: 2rem;
    list-style: circle;
    text-align: ;
    
}
 body ul {
    list-style: inherit;
 }

.parent, .parent li ul {
    list-style: inherit;
}
/* 
    small min-width: 576px

    medium 768px

    large  92px

    XL 1200px

    mobile device landscape
    max-height 492px
    aspect ration 7/4



    background-color: #475569;
    background-image: radial-gradient(whitesmoke, #475569);
*/