@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    background-color: #475569;
    background-image: radial-gradient(whitesmoke, #475569);
    text-align: center;
}

header {
    color: whitesmoke;
    background-color: #1E2938;
}

nav {
    background-color: whitesmoke;
    display: flex;
}

nav ul {
    display: contents;
}

img {
    border: 3px solid #1E2938;
    border-radius: 50%;
}

footer {
    color: whitesmoke;
    background-color: #1E2938;
}

/* 
    small min-width: 576px

    medium 768px

    large  92px

    XL 1200px

    mobile device landscape
    max-height 492px
    aspect ration 7/4

*/